article, aside, figure, footer, header, nav, section {
    display: block;
}

/* the styles for the elements */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: 87.5%;
}
a:focus, a:hover {
	font-style: italic;
}

header h1 {
	color: #800000;
	text-indent: 30px;
}
header h2 {
	font-style: italic;
	text-indent: 30px;
}
header img {
	float: left;
}
.shadow {
	text-shadow: 2px 2px 2px #800000;
}

section {
	clear: left;
}
section h1 {
	color: #800000;
	font-size: 150%;
}
section h2 {
	font-size: 120%;
}

#speakers {
	font-size: 175%;
	color: black;
	border: 3px double #800000;
	margin-bottom: .75em;
	border-radius: 10px;
	box-shadow: 5px 5px;
	padding: .5em 0 .5em 2em;
	background-color: white;
}
.speaker-img {
    width: 200px;
    height: auto;
    margin-bottom: 1em;
}
footer {
	border-top: 3px solid #800000;
	clear: both;
}
footer p {
	padding: 1em 0;
	text-align: center;
}
main img {
    width: 200px;
    height: auto;
    display: block;
    margin-bottom: 1em;
}
